{% extends 'base_login.html.twig' %}

{% block title %}Zaloguj!{% endblock %}

{% block body %}
    <form class="form-horizontal" method="post">

        <h1 class="h2 font-weight-normal text-center">Laboratorium analityczne</h1>

        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <div class="form-group form-group-lg">
            <label for="inputEmail" class="control-label col-sm-3">Email</label>
            <div class="col-sm-6">
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                       placeholder="Podaj email" required autofocus>
            </div>
        </div>

        <div class="form-group form-group-lg">
            <label for="inputPassword" class="control-label col-sm-3">Hasło</label>
            <div class="col-sm-6">
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Podaj hasło"
                       required>
            </div>
        </div>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}

        <div class="col-sm-9">
            <button class="btn btn-lg btn-primary pull-right" type="submit">Zaloguj</button>
        </div>
    </form>
{% endblock %}
